<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Clancey.SimpleAuth" version="1.0.49" targetFramework="xamarinios10" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="xamarinios10" />
  <package id="Microsoft.NETCore.Platforms" version="2.1.0" targetFramework="xamarinios10" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="xamarinios10" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="xamarinios10" />
  <package id="NGraphics" version="0.4.0" targetFramework="xamarinios10" />
  <package id="sqlite-net-pcl" version="1.5.166-beta" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.core" version="1.1.11" targetFramework="xamarinios10" />
  <package id="SQLitePCLRaw.provider.sqlite3.ios_unified" version="1.1.11" targetFramework="xamarinios10" />
  <package id="System.ComponentModel.TypeConverter" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Formatters" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="xamarinios10" />
  <package id="System.Xml.XmlDocument" version="4.3.0" targetFramework="xamarinios10" />
  <package id="Xam.Plugins.Settings" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="3.1.0.637273" targetFramework="xamarinios10" />
</packages>